/*   Estilos da página index.html*/

*{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;
}
.bloco-menu{
    background-color: black;
    padding:20px;
    font-weight: bold;
}
p{
    font-size: 20px;
    color: black;
    margin: 3px;
}

.center {
        text-align: center;
}

body{
    background-color:rgb(222, 178, 240);
}

a{
    text-decoration: none;
}
.container{
        display: flex;
        flex-flow: row wrap;
        justify-content:center;
        padding: 30px;
}

.profile-introducao{
    display: block;
    text: left;
}

.foto-centro{
    justify-content: flex-start;
}

.texto-introducao{
    display:flex;
    
}
.menu li{
    display: inline;
    list-style-type: none;
    padding: 30px;
    font-size: 18px;
    padding: 10px;
}
.menu li a{
    text-decoration: none;
    color: white;
}
.menu li a:hover{
    color: gray;
}
.br-50{
    border-radius: 50px;
}
.about-me{
    margin-right: 20px;
    width: 740px;
    text-align: left;
}
.tm-social{
    width: 50px;
    height: 50px;
    padding: 30px;
}
.bloco-conteudo{
    padding: 10px;
}
.container-2{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    padding: 30px;
}
.mg-b{
    margin-bottom: 50px;
}
.mg-t{
    margin-top: 50px;
}
/*Estilos da página contato.html*/

.conteudo-padrao{
    padding: 20px;
}
.container-formulario{
    justify-content: center;
    align-items: center;
}
.container-titulo{
    justify-content: center;
    align-items: center;
}
.container-foto{
    align-items: center;
}
.container-foto > img {
    border-radius: 20px;
}

.conteudo-flex{
    display: flex;
}
.container-contato{
    justify-content: center;
    flex-wrap: wrap;
}
.container-button{
    padding: 15px;
    background-color:rgb(78, 18, 102);
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 10px;

}
.text-button{
    color: white;
    font-size: 20px;
    width: 100%;
    height: 100%;
}

.container-button:hover{
    background-color: white;
    border: solid 3px  rgb(78, 18, 102);
    cursor: pointer;
    transition: 0.2s;
}

.text-button:hover{
    color:rgb(78, 18, 102);
    font-weight: bold;
}

input, textarea{
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin: 10px;
    width: 90%;
}
label{
    font-weight: bold;
}

.container-input{
    display: flex;
    flex-direction: column;
    align-items: center;
}
